
html {
    overflow: scroll;
    overflow-x: hidden;
}
-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
-webkit-scrollbar-thumb {
    background: #FF0000;
}

figcaption {
    background-color: #344b00;
    color: #fff;
    font: italic smaller sans-serif;
    padding-bottom: 2%;
    padding-top: 3%;
    text-align: center;
	font-size:0.8rem;
	overflow:visible;
	margin-top:-8%;
}



/*  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*//* Clip text element */
.clip-text {
    font-weight: bold;
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: .5em .75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}.clip-text:before,
.clip-text:after {
    position: absolute;
    content: '';
}/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
    background-image: url(img/introPilt.svg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
  background-position: 50% 50%;
}
/*@font-face {
    font-family: "M";
    src: url(Montserrat-Bold.otf) format("opentype");
}*/

*:not(input.field) {    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


* {	
	/*font-family: "M";*/
	font-family: 'glacial-indifference', sans-serif;
	font-weight:550;
	font-size:103%;
	color:whitesmoke;
	/*color:#c7d24f;*/
	margin:0;
	-webkit-backface-visibility: hidden;
}html, body {
    height: 100%;
    overflow:hidden;
	min-height:100%;
}body {
    margin: 0;
}
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	webkit-pointer-events: none;
	webkit-touch-action: none;
	pointer-events: none;
	touch-action: none;
	image-orientation: from-image;
}
.a {
	background:#253100;
    height: 100%;
	min-height:100%;
	width:100%;
	-webkit-backface-visibility: hidden;
}
.b {
    height: 100%;
	width:100%;
	position:fixed;
	-webkit-backface-visibility: hidden;
}
@media only screen and (min-width: 480px) {
	.b {
	width:63vh;
	left:50%; 
	-ms-transform: translate(-50%); /* IE 9 */
	-webkit-transform: translate(-50%); /* Safari */
	transform: translate(-50%);
	}
}

.textBox   {
	font-size:65%;
	overflow-y:scroll;
	color:black;
	height:105%;
	background:#1b2500;
	width: 100%;
	padding-right: 17px;  /*Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box;
	position:absolute;
}

.innerText {
	position:relative;
	width:94%;
	height:auto;
	padding:3%;
}span {
	line-height:1.2;
	padding:0.5%;
}
.sinine1 {
	padding-top:5%;
}.sinine2 {
	/*background:#1b2500;*/
}.sinine3 {
	/*background:#cde9f7;*/
}.rtl {
	direction:rtl;
	unicode-bidi:bidi-override;
}
.textPic {
	padding:1%;
	width:98%;
	height:auto;
	background:#344b00;
	padding-bottom:5%;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
	user-drag: none;
	-webkit-user-drag: none;
	webkit-pointer-events: none;
	webkit-touch-action: none;
	pointer-events: none;
	touch-action: none;
}
.block {
	width:100%;
	height:10em;
}
.fadeBlock1 {
	width:100%;
	height:2%;
	position:absolute;
	top:43%;
	background-image: linear-gradient(#1b2500,rgba(0,0,0,0));
}
.fadeBlock2 {
	width:100%;
	height:20%;
	position:absolute;
	top:80%;
	background-image: linear-gradient(rgba(0,0,0,0),#1b2500);
}
.luguPilt {
	width:100%;
	height:auto;
	position:relative;
}
.aud {
	width:82%;
	top:89%; /*33*/
	height:11%;
	position:absolute;
	z-index:999;
}


#navs {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	z-index:888;
	background:lightgray;
}
#start {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
}

#agent1, #agent2{
	float:left;
	font-size:100%;
	padding:0 0 0 5%;
	margin:0;
	width:80%;
	height:100%;
	color:white;
	background:black;
	border:0;
	top:0;
}

.button {
	float:right;
    border: none;
	height:100%;
	width:15%;
	background:rgb(11,11,11);/*rgb(57, 152, 253);*/
}
/*.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}LÄÄGI PÄRAST*/
.agentWrap {
	width:100%;
	border:0;
	margin-top:6%;
	height:2rem;
}.edasiPic {
	width:70%;
	height:90%;
	position:absolute;
}
.kolmn {width:100%;height:100%;
}

						/* Patternl aka mm */

.symbol {
	width:100%;
	height:100auto;
	display:block;
}.mmIcon {
	width:100%;
	height:100%;
}
.mma {
	height:100%;
	width:100%;
	position:absolute;
}.mmb {
	margin:10%;
}#mm1, #mm2, #mm3, #mm4 {
	margin:10%;
	width:30%;
	height:24%;
	float:left;
}#patternHolder {
	background:none;
}
.patLugu {
	display:none;
	/*position:relative;*/

	width:100%;
	height:100%;
	z-index:901;
}		

/* Patternl end */


#lisa2, #lisa4, #lisa1, #lugu5 {
	display:none;
	background:#253100;
}
.vid {
	width:100%;
	height:30%;
	background:black;
}
.lugu {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	z-index:900;
	background:#253100;
	background-size: 100% 100%;
}
#lugu0 {
	background:#253100;
}
.taust {
	width:100%;
	height:100%;
	position:absolute;
}.play {
	z-index:915;
	position:absolute;
	top:50%;
	height:50%;	
}#diplom {	
	width:100%;
	position:relative;
	height:100%;
	display:none;
	z-index:922;	
}
#diplomTut1{
	margin:4%;
	position:absolute;
	top:80%;
	width:60%;
	height:10%;
	-webkit-animation:diplomTutStrobo 11s ease infinite;
    -moz-animation:diplomTutStrobo 11s ease infinite;
    animation:diplomTutStrobo 11s ease infinite;
}#diplomTut2{
	margin:4%;
	position:absolute;
	top:90%;
	width:80%;
	height:10%;
	-webkit-animation:diplomTutStrobo 11s ease infinite;
    -moz-animation:diplomTutStrobo 11s ease infinite;
    animation:diplomTutStrobo 11s ease infinite;
}#fingerMove{
	position:absolute;
	top:0%;
	left:20%;
	width:20%;
	height:30%;
	background:white;
	opacity:0.3;    
	-webkit-animation:fingerMove 2s ease infinite;
    -moz-animation:fingerMove 2s ease infinite;
    animation:fingerMove 2s ease infinite;
}
.number{
	position:absolute;
}.number2{
	position:absolute;
	margin-left:10%;
	font-size:0.6em;
}
#hand2 {
	position:absolute;
	height:90%;
	left:20%;
	width:25%;
	-webkit-animation:hand2Move 2s ease infinite;
    -moz-animation:hand2Move 2s ease infinite;
    animation:hand2Move 2s ease infinite;
	
}
@-webkit-keyframes fingerMove {
		   0% {width:20%;left:20%; }
		   100%  {width:80%;left:20%;}
}
@-webkit-keyframes hand2Move {
		   0% {width:25%;}
		   100%  {width:25%;left:80%;}
}
@-webkit-keyframes diplomTutStrobo {
		   0% {opacity:1;}
		   50%  {opacity:0;}
		   100% {opacity:1;}
}
.asukohad {
	border-radius:50px;
	width:10vh;
	height:10vh;
	background-color: rgba(54,54,0,.2);
}
#asu0 {
	position:absolute;
	top:75%;
	left:64%;
}

#icon1,#icon2,#icon3,#icon4,#icon5,#icon7,#icon8,#icon9,#icon10,#icon11 {
	display:none;
}
.kaardiik {
	border-radius:50px;
}

.symb {
	position:absolute;
	left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	top:16%;
	width:20%;
	height:20%;
	z-index:999;
}

/*
.kiri1 {word-wrap:break-word;position:relative;color:white;font-size:2vh;padding:5%;
}.kiri2 {word-wrap:break-word;position:relative;color:white;text-align:center;font-size:200%;
top:50%;transform:translateY(-50%);padding:25%;
}
*/


.kiri3 {word-wrap:break-word;position:relative;background:#344b00;
padding:5%;text-align:center;
	font-size:90%;
}


.kiri4 {word-wrap:break-word;position:relative;margin:5%;top:30vh;
	line-height:1.2;
	padding:0.5%;
}

.kiri5 {word-wrap:break-word;position:relative;top:80vh;
}


.kiri6 {word-wrap:break-word;position:relative;
}

.kiri7 {font-size:12.55vh;text-align:center;top:50%;position: absolute;
	left:50%;-webkit-transform: translate(-50% , -50%);z-index:888;font-weight:900;
}

/*
.kiri8 {
	word-wrap:break-word;position:relative;background:whitesmoke;color:#004613;font-size:10vh;
text-align:center;	
}*/

.ImgTekst {
	position:relative;
	float:left;
	width:100%;
	z-index:998;
} .ImgTekst2 {
	position:absolute;
	width:100%;
	z-index:998;
	margin-top:55%;
}.ImgTekst3 {
	top:99%;
	width:100%;
	position:absolute;
}
.back {
	width:100%;
	height:100%;
	top:45%;
	position:absolute;
}
.back2 {
	width:18%;
	height:11%;
	top:89%;
	left:82%;
	margin:0;
	padding:0;
	position:absolute;
	z-index:999;
}.triangle1{
	width:60%;
	height:60%;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index:999;
}.triangle2{
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.backDiv {
	width:100%;height:100%;position:absolute;
}

svg {
	position:absolute; 
}#ring0start {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50% , -50%);
	animation: startAnim 5s infinite;
	animation-play-state: running;
}#ring0start2 {
	position:absolute;
	animation: startAnim2 5s linear infinite;
	animation-play-state: running;
	animation-delay:2.5s;
	left:50%;
	top:42%;
	transform: translate(-50% , -50%);
	width:0%;height:0%;position:absolute;
}
#ring1,#ring2,#ring211,#ring3,#ring4,#ring5,#ring6,#ring7,#ring711,#ring8,#ring9,#ring10,#ring11 {
	position:absolute;
	animation: ring1 2.5s infinite;
	animation-play-state: paused;
}@keyframes ring1 {
	0% {opacity:0;}
	40% {opacity:1;}
	100% {opacity:0;}
}@keyframes startAnim {
		0% {
				margin-top:55%;
				width:60vh;
				height:60vh;
		}
		50% {
				margin-top:7%;
				width:30vh;
				height:30vh;
		}
		100% {
				margin-top:55%;
				width:60vh;
				height:60vh;
		}
}
@keyframes startAnim2 {
		0% {
				width:0%;
				height:0%;
				opacity:1;
		}
		100% {
				margin-top:5%;
				width:100vh;
				height:100vh;
				opacity:0;
		}
}

#lugu6 {
	overflow:hidden;
	z-index:966;
}
#RJK {
	position:absolute;
	width:70%;
	left:15%;
	animation-play-state: paused;
}/*
#RJK2 {
	margin-top:50%;
	left:60%;
	width:40%;
	animation-play-state: paused;
}*/
@keyframes rjk1 {
	0% {opacity:0;top:30%;}
	5% {opacity:1;}
	90% {opacity:1;}
	100% {opacity:0;top:-300%;}
}





		.dragCar {
			position:absolute;
			width: 30%;
			height:auto; 
			float: left;
	z-index:998;
		}
		
		#dragc1,#dragc111 {
			-webkit-animation: animal1 19s linear infinite;
		}#dragc2,#dragc211 {
			-webkit-animation: animal2 22s linear infinite;
		}#dragc3,#dragc311 {
			-webkit-animation: animal3 17s linear infinite;
		}#dragc4,#dragc411 {
			-webkit-animation: animal4 19s linear infinite;
		}#dragc5 {
			-webkit-animation: progress-bar4 9s linear infinite;
		}#dragc6 {
			-webkit-animation: progress-bar1 16s linear infinite;
		}#dragc7 {
			-webkit-animation: progress-bar2 4s linear infinite;
		}#dragc8 {
			-webkit-animation: progress-bar4 13s linear infinite;
		}#dragc9,#dragc911 {
			-webkit-animation: animal1 10s linear infinite;
		}#dragc10,#dragc1011 {
			-webkit-animation: animal3 19s linear infinite;
		}#dragc11,#dragc1111 {
			-webkit-animation: animal2 11s linear infinite;
		}#dragc12,#dragc1211 {
			-webkit-animation: animal4 29s linear infinite;
		}
		
		.drag { 
			height: 100%;
			width:100%;
			float: left; 
			z-index:939;
		}
		
		@-webkit-keyframes progress-bar1 {
		   0% {top: 35%;left:66%; }
		   12% {top: 50%; left:56%;}
		   24% {top: 60%;left:33%; }
		   36% {top: 50%; left:5%;}
		   49% {top: 35%; left:0%; }
		   62%{top: 20%; left:10%;}
		   74% {top: 10%; left:33%; }
		   86% {top: 20%; left:56%; }
		   100%  {top: 35%; left:66%;}
		}
		@-webkit-keyframes progress-bar2 {
		   0% {top: 60%;left:33%; }
		   12% {top: 50%; left:5%;}
		   24% {top: 35%; left:0%; }
		   36% {top: 20%; left:10%;}
		   49% {top: 10%; left:33%; }
		   62% {top: 20%; left:56%; }
		   74% {top: 35%;left:66%; }
		   86% {top: 50%; left:56%;}
		   100%  {top: 60%; left:33%;}
		}
		@-webkit-keyframes progress-bar3 {
		   0% {top: 35%; left:0%; }
		   12%{top: 20%; left:10%;}
		   24% {top: 10%; left:33%; }
		   36% {top: 20%; left:56%; }
		   49% {top: 35%;left:66%; }
		   62% {top: 50%; left:56%;}
		   74% {top: 60%;left:33%; }
		   86% {top: 50%; left:5%;}
		   100%  {top: 35%; left:0%;}
		}
		@-webkit-keyframes progress-bar4 {
		   0%  {top: 20%; left:10%;}
		   12% {top: 10%; left:33%; }
		   24% {top: 20%; left:56%; }
		   36% {top: 35%;left:66%; }
		   49% {top: 50%; left:56%;}
		   62% {top: 60%;left:33%; }
		   74% {top: 50%; left:5%;}
		   86% {top: 35%; left:0%; }
		   100%{top: 20%; left:10%;}
		}
		@-webkit-keyframes animal1 {
		   0%  {top: 14%; left:0%;}
		   50% {top: 14%; left:70%;}
		   100%{top: 14%; left:0%;}
		}
		@-webkit-keyframes animal2 {
		   0%  {top: 60%; left:70%;}
		   50% {top: 60%; left:0%; }
		   100%{top: 60%; left:70%;}
		}
		@-webkit-keyframes animal3 {
		   0%  {top: 50%; left:0%;}
		   50% {top: 17%; left:0%; }
		   100%{top: 50%; left:0%;}
		}
		@-webkit-keyframes animal4 {
		   0%  {top: 50%; left:70%;}
		   50% {top: 17%; left:70%; }
		   100%{top: 50%; left:70%;}
		}
		
				
		#drop1,#drop2,#drop3,#drop4 {
			position:absolute;
			top:48%;left:50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
            width:25vh;
			height:18vh;
			/*background:white;*/
			z-index:912;
		}
		#drop5,#drop6,#drop7,#drop8 {
			position:absolute;
			top:50%;left:50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
            width:20vh;height:20vh;
			z-index:912;
		}
		#drop9,#drop10,#drop11,#drop12 {
			position:absolute;
			top:50%;left:50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
            width:26vh;
			height:38vh;
			float: left;
			/*background:white;*/
			z-index:912;
		}

		
		.wrap {
            display: table-row-group;
			position:relative;
         }
		.bhbird {position:absolute;width:100%;Height:100%;display:none;}
		.bhbird2 {position:relative;width:50%;Height:50%;display:none;z-index:999;}
		#bhbird5 {top:0%;}
		#bhbird6 {left:50%;}
		#bhbird7 {top:50%;}
		#bhbird8 {left:50%;top:50%;}	
           

#akenTamm, #akenTarvas {
	width:100%;
	height:100%;
	z-index:999;
	position:absolute;
} 

	

.chest {
	padding:30%;
	position:absolute;
	width:33%;
	height:33%;
}



.resetBtn {
	background:#ffffff;
	color:#001727;
    border: none;
	border-radius:20vh;

	height:100%;
	float:right;
    text-align: center;
    text-decoration: none;
	margin:5%;
	padding:5%;
	font-size:2.5vh;
}


		
		
		
	#introMap {
		position: absolute; 
		left: 0px; 
		top: 0px;
		width: 100%;
	}	
	
#text1 {left:47%;top:48%;}

						#text2 {left:5%;top:45%;}
						#text22 {left:15%;top:45%;opacity:.5;}
						#text3 {left:90%;top:45%;}
						#text33 {left:80%;top:45%;opacity:.5;}
						#text4 {left:47%;top:5%;}
						#text44 {left:47%;top:15%;opacity:.5;}
						#text5 {left:47%;top:85%;}
						#text55 {left:47%;top:75%;opacity:.5;}

						.text {position:absolute;font:Arial, Helvetica, sans-serif;padding:3%;font-weight:700;background: rgba(255,255,255,.5);}



						#myElement { /*hammer*/
							position:absolute;
						  height: 100%;
						  width:100%;
						}

						#wrapp {
							width:100%;
							height:100%;
							position:absolute;
							animation:strob1 1s infinite;
							animation-play-state:running;
						}
						#wrapp2 {
							width:100%;
							height:100%;
							position:absolute;
						}

						#myElement2 {
						  height:50%;
						  width:50%;
						  left:25%;
						  top:25%;
						  position:absolute;
						  text-align: center;
						}
						#myElement3 {
						  height:20%;
						  width:20%;
						  left:40%;
						  top:40%;
						  position:absolute;
						}
						#myElement4 {
						  height:10%;
						  width:10%;
						  left:45%;
						  top:45%;
						  position:absolute;
						}


						@keyframes strob1 {
							0% {background:rgb(159,211,256);}
							100% {background:rgb(27, 72, 103);}
						}
						@keyframes center {
							0%   {opacity:0.2;left:20%;top:20%;width:60%;height:60%;}
							100% {opacity:1;left:25%;top:25%;width:50%;height:50%;}
						}
						@keyframes center2 {
							0%   {opacity:0.2;left:30%;top:30%;width:40%;height:40%;}
							100% {opacity:1;left:40%;top:40%;width:20%;height:20%;}
						}
						@keyframes center3 {
							0%   {opacity:0.2;left:40%;top:40%;width:20%;height:20%;}
							100% {opacity:1;left:45%;top:45%;width:10%;height:10%;}
						}
						@keyframes left {
							0%   {}
							100% {left:20%;}
						}
						@keyframes right {
							0%   {}
							100% {left:40%;}
						}
						@keyframes right2 {
							0%   {}
							100% {left:70%;}
						}
						@keyframes right3 {
							0%   {}
							100% {left:80%;}
						}

						@keyframes up {
							0%   {}
							100% {top:10%;}
						}
						@keyframes up2 {
							0%   {}
							100% {top:30%;}
						}
						@keyframes up3 {
							0%   {}
							100% {top:10%;}
						}
						@keyframes down {
							0%   {}
							100% {top:40%;}
						}
						@keyframes down2 {
							0%   {}
							100% {top:70%;}
						}
						@keyframes down3 {
							0%   {}
							100% {top:85%;height:5%;}
						}

						#textbox1 {
							position:absolute;
							background:white;color:black;
							opacity:0;
							height:auto;
							width:auto;
							font-size:auto;
							padding:2%;
						}
						@keyframes textbox1 {
							0%   {opacity:0.2; translateY(-50%);left:10%;top:48%;font-size:0%;}
							100% {opacity:1;font-size:150%;transform: translate(-50%,-50%);left:50%;top:50%;}
						}
						@keyframes textbox2 {
							0%   {opacity:0.2;translateY(-50%);left:90%;top:48%;font-size:0%;}
							100% {opacity:1;font-size:150%;transform: translate(-50%,-50%);left:50%;top:50%;}
						}
						@keyframes textbox3 {
							0%   {opacity:0.2;translateX(-50%);left:50%;top:10%;font-size:0%;}
							100% {opacity:1;font-size:150%;transform: translate(-50%,-50%);left:50%;top:50%;}
						}
						@keyframes textbox4 {
							0%   {opacity:0.2;translateX(-50%);left:50%;top:90%;font-size:0%;}
							100% {opacity:1;font-size:150%;transform: translate(-50%,-50%);left:50%;top:50%;}
						}
		
		
.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }